.header{
    border: 4px gray;
    height: 300px;
    background-position:  left;
    background-size: 100% 100%;
}
.header .logo{
    height: 50px;
    margin-right: 100px;
}
.title-container{
    color: black;
    text-align: center;
    font-size: 2em;
}
.nav{
    margin-left: 100px;
    
}
.nav li{
    display: inline;
    margin-left: 40px;
    
  }
  
  .nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
  }